:root {
  --main-bg-color: #ffffff;
  --secondary-bgc: #e0e0e0;
  --main-title-color: #323232;
  --secondary-title-color: #fff;
  --third-title-color: #000000;
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
  --header-line: #a1a1a1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
}

/* header */
.header {
  border-bottom: 1px solid var(--header-line);
  position: absolute;
  width: 100%;
}

.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 40px 20px;
  display: block;
  position: relative;
}
.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--main-bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

/* Togle */
.lable-togle {

}

.check-togle {

}

.check-togle:checked + .cercl-wrap .cercl-togle{
  transform: translate(40px, -50%);
}

.check-togle:checked + .cercl-wrap {
  background-color: green;
}

.cercl-wrap {
  position: relative;

  width: 80px;
  height: 40px;
  border-radius: 34px;
  background-color: gray;
  
  transition:background-color 500ms ease-in ;
}

.cercl-togle {
  position: absolute;
  top: 50%;
  left: 5px;

  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;

  transition: transform 500ms ease-in;
}

/* hero */
.hero-section {
  background-color: grey;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./images/hero-bg.jpeg);
  padding-top: 319px;
  padding-bottom: 335px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-bottom: 20px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-title-color);
}

.hero-desc {
  max-width: 829px;
  margin: 0 auto;
  margin-bottom: 50px;

  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  color: var(--secondary-title-color);
}

.btn {
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  padding: 14px 36px;
  display: block;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-title-color);
}

.works {
  padding-top: 110px;
  padding-bottom: 105px;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47x;
  text-align: center;
  color: var(--main-title-color);

  margin: 0 auto;
  width: 739px;
  margin-bottom: 32px;
}

.works-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: var(--main-text-color);

  margin: 0 auto;
  width: 730px;
  margin-bottom: 70px;
}
.works-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: 55px;
}
.works-item {
  display: flex;
  width: 350px;
}

.first-wrap {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 17px;
}

.second-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 1px solid #4985ff;
  border-radius: 50%;
}
.works-item {
  margin-left: 30px;
}

.works-icon {
  fill: var(--accent-color);
}


.spec {
  padding: 100px 0 85px 0;
  height: 800px;
  background-image: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%),
    linear-gradient( #C4C4C4, #C4C4C4);
    background-size: 100% 50%;
    background-position: top, bottom;
    background-repeat: no-repeat;
}