:root {
  --main-bg-color: #ffffff;
  --secondary-bgc: #e0e0e0;
  --main-title-color: #323232;
  --secondary-title-color: #fff;
  --third-title-color: #000000;
  --main-text-color: #999999;
  --secondary-text-color: #ffffff;
  --accent-color: #4985ff;
  --header-line: #A1A1A1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
}

.header{
  border-bottom: 1px solid var(--header-line);
}

.container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 40px 20px;
  display: block;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}
